
body{
  background: #10101E;
}
.full_routine{
	text-align: center;
  font-size: 38px;

}
tr{
  line-height: 75px;
}
.friday{
	display: none;
	text-align: center;


}
.Saturday{
	text-align: center;
	display: none;
}
.mystyle{
	display: none;
	display: block !important;
}
.sunday{
	display: none;
	text-align: center;

}
.monday{
	display: none;
	text-align: center;

}
.Tuesday{
	display: none;
	text-align: center;

}



*{
  margin: 0;
  padding: 0;
}

.my_date-now{

  display: flex;
  justify-content: center;
  align-items: center;
  background: #10101E;
}

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
  /* width: 722px; */
  width: 100%;
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 68px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 60px;
}

.time{
  font-size: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 47px;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 68px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
 

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.my_name{

  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  /* padding: 20px; */
  padding-top: 80px;
}
span.flicker {
  margin-left: 50px;
}
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #f8fdff;
  text-shadow: 2px -4px 2rem #0000004d, 0 0 1.5rem #1e52e58f, -0.2rem 0.1rem 1rem #1c65bf4f, 0.2rem 0.1rem 1rem #6765ff59, 0 -0.5rem 2rem #1d5ccf80, 0 0.5rem 3rem #3420d95c;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #fcf8fc;
    text-shadow: 0 0 0.6rem #3e09fc34, 0 0 1.5rem #3307f8bd,
      -0.2rem 0.1rem 1rem #ffee04, 0.2rem 0.1rem 1rem #2606df94,
      0 -0.5rem 2rem #0e0ae75d, 0 0.5rem 3rem #37ff05;
  }
  28%,
  33% {
    color: #fafafa;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
  /* color: #fff; */
}

/* @keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
} */

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

