
body{
  background: #10101E;
}
.full_routine{
	text-align: center;
  font-size: 38px;

}
tr{
  line-height: 75px;
}
.friday{
	display: none;
	text-align: center;


}
.Saturday{
	text-align: center;
	display: none;
}
.mystyle{
	display: none;
	display: block !important;
}
.sunday{
	display: none;
	text-align: center;

}
.monday{
	display: none;
	text-align: center;

}
.Tuesday{
	display: none;
	text-align: center;

}



*{
  margin: 0;
  padding: 0;
}

.my_date-now{

  display: flex;
  justify-content: center;
  align-items: center;
  background: #10101E;
}

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
  /* width: 722px; */
  width: 100%;
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 68px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 60px;
}

.time{
  font-size: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 47px;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 68px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
 
.my_name{
  color: #fff;text-align: center;font-size: 40px; border: 1px solid #fff;width: 400px;margin: auto;
}
.my_name h1{
  box-shadow: 0 0 0 0 solid #fff;text-align: center;padding: 20px;
}